<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span> Lorem ipsum dolor sit amet.
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Phone 1:</span> +12473598237890
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Phone 2:</span> +5923487523950
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Email:</span> lorem@lorem.com
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Studio:</span> Lorem ipsum dolor sit amet.
                    </li>
                </ul>
            </div>

            <div class="col-md">
                <h3 class="text-center">Here can be your map..</h3>
                <img src="/static/pic4.jpg" alt="pic1" class="img-fluid w-75 d-none d-sm-block rounded mx-auto d-block">
            </div>
        </div>
    </div>
</section>