{% extends "base.html" %}

{% block title %}Main Page{% endblock %}

{% block body %}
    {% include "navbar_component.html" %}
    {% include "showcase_component.html" %}
    {% include "newsletter_component.html" %}
    {% include 'boxes_component.html' %}
    {% include 'learn_component.html' %}
    {% include 'question_accordion_component.html' %}
    {% include 'instructors_component.html' %}
    {% include 'contact_map_component.html' %}
    {% include 'footer_component.html' %}
    {% include 'modal_component.html' %}
{% endblock %}