<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1 class="mx-2">Become a <span class="text-warning"> professional artist</span></h1>
                <p class="lead my-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Asperiores omnis perferendis quis repellendus reprehenderit?
                    Atque eos itaque laboriosam modi voluptatibus.
                </p>
                <button class="btn btn-primary btn-lg">Start the course</button>
            </div>
            <img src="/static/pic1.jpg" alt="pic1" class="img-fluid w-50 d-none d-sm-block">
        </div>
    </div>
</section>